<P>nom : {{ Client.nom }}</P>
<P>Prenom : {{ Client.prenom }}</P>
<P>Societe : {{ Client.societe }}</P>
<P>tel : {{ Client.tel }}</P>
<P>ville : {{ Client.ville }}</P>
<P>departement : {{ Client.departement }}</P>