{% extends '/base.html.twig' %}

    {% block title %}Homepage{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/crm/css/myStyle.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/CRMBundles/css/pagination.css') }}" type="text/css"/>
    {% endblock %}
{% block body %}
<div class="container" style="max-width:1600px;">
    <div class="row">
        <div class=" col-sm-12">
            <nav class="navbar navbar-inverse bg-primary">
                <p style="color:white;">Bienvenu dans le CRM</p>
                <a href="http://192.168.56.102:8080/deconnexion"><button type="submit" style="border-width: inherit;border-color: white;" class="btn btn-primary btn-lg" >déconnexion ! </button></a>
            </nav>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-4" >
                <div class="col-lg-12"><h1> Bonjour {{ utilisateur.login }} </h1></div>
                <div class="alert alert-success" role="alert"> Vous vous êtes connecté avec succés</div>
                <p> Voici les tâche à faire</p>
                {% if(listeTaches is not empty) %}
                    <table class="table table-condensed">
                        <tr>
                            <th>Texte</th>
                            <th>Date</th>
                            <th>statut</th>
                            <th>id Client</th>
                        </tr>
                        {% for tache in listeTaches %}
                            <div  id="div_Client{{ tache.idTache }}" class="col-sm-12">
                                <tr data-id="{{ tache.idTache }}">
                                    <td >{{ tache.textTache }}</td>
                                    <td >{{ tache.date|date("m/d/Y") }}</td>
                                    {% if(tache.fait == true) %}

                                        <td > <a href="/changerSatutTache/{{ tache.idTache }}"><button style ="width: 30px; height: 30px; background: green; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 50px;" aria-hidden="false"></button></a></td>
                                    {% else %}
                                        <td > <a href="/changerSatutTache/{{ tache.idTache }}"><button style ="width: 30px; height: 30px; background: red; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 50px;" aria-hidden="false"></button></a></td>
                                    {% endif %}
                                    <td >{{ tache.client.idClient }}</td>
                                </tr>
                            </div>
                        {% endfor %}

                    </table>

                {% else %}
                    <p class="alert alert-info"> Aucune Tâche trouvé.</p>
                {% endif %}

            </div>
        <div class="col-sm-4" >
            <div id="contenuCentral"></div>
        </div >
            <div class="col-sm-4">
                <div class="col-lg-12"><h1> carnet d'adresse </h1></div>
                {% if(listeClients is not empty) %}
                    <table class="table table-condensed">
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Société</th>
                        </tr>
                    {% for client in listeClients %}
                        <div  id="div_Client{{ client.idClient }}" class="col-sm-12">
                                <tr data-id="{{ client.idClient }}">
                                    <td >{{ client.nom }}</td>
                                    <td >{{ client.prenom }}</td>
                                    <td >{{ client.societe }}</td>
                                </tr>
                        </div>
                    {% endfor %}

                    </table>
                    <div class="text-center">{{ knp_pagination_render(listeClients) }}</div>
                {% else %}
                    <p class="alert alert-info"> Aucun client trouvé.</p>
                {% endif %}
            </div>
    </div>

</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/bundles/CRMBundle/js/Client.js') }}">
</script>
{% endblock %}
